<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- VUE CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Curso vue3</title>
    <link rel="stylesheet" href="assets/styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src=image alt=”img-product”>
          </div>
          <div class="product-info">
            <h1>{{ productTitle }}</h1>
            <p v-if="isStock > 10">In Stock</p>
            <p v-else-if="isStock <= 10 && isStock >= 1">Almost of stock</p>
            <p v-else>Out of stock</p>
          </div>
        </div>
        <div class="stock-changer">
          <label for="">Modificar item em estoque</label>
          <input type="number" min="1" max="100" v-model="isStock" />
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      createApp({
        setup() {
          return {
            productTitle: ref("T-shirt"),
            image: ref("./assets/images/t-shirt-blue.png"),
            isStock: ref(100),
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>